[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://vietnamese-connection-game.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
